<br>
<br>
<br>
<section>
  <div class="span-1">
    &nbsp;
  </div>
  <div class="span-10">
    <img src="image/logo-en.png" />
    <br>
    <br>
    <br>
    <header>
      <h1>ng-seed</h1>
      <h6>A base for front-end development with <a href="http://angularjs.org/">AngularJS</a></h6>
    </header>
    <br>
    <strong>Instructions:</strong>
    <ol class="default-ol">
      <li>
        Install bower using <code>sudo npm install bower -g</code>.
      </li>
      <li>
        Install gulp using <code>sudo npm install gulp -g</code>.
      </li>
      <li>
        Install Java from here: <a target="_blank" href="http://support.apple.com/kb/DL1572">http://support.apple.com/kb/DL1572</a> (to run <code>Selenium</code>)<br>
        Skip this step if you think you have Java. You will be prompted later if you don't already have it.
      </li>
      <li>
        Run <code>npm start</code>.<br>
        The app consists of <code>prestart</code> and <code>postinstall</code> scripts that will ensure installation of <code>npm</code> dependencies and <code>bower</code> components. No need to install manually.
      </li>
    </ol>
    <br>
    <p>
      <input type="text" class="form-control name-input" placeholder="Enter your name"
             ng-model="nameService.name" />
    </p>
    <br>
    <div name-format ng-value="nameService.name"></div>
    <p>Hope this boostrap seed project works well.</p>
    <p>
      <a href="http://riten.io">Riten</a>
    </p>
    <footer class="align-center">
      <ul class="horizontal-list">
        <li><a target="_blank" href="http://safarna.com">Safarna.com</a></li>
        <li>·</li>
        <li><a target="_blank" href="https://github.com/safarna/">GitHub</a></li>
        
      </ul>
    </footer>
  </div>
  
    <div class="span-1">
      &nbsp;
    </div>
  </div>
</section>